QSkyPlugin/src/META-INF/wsdl/bigboss_8080/QSkyAPI/customer_events.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.qsky.apertum.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.qsky.apertum.ru/">

<xs:element name="backInService" type="tns:backInService"/>

<xs:element name="customerToPostponed" type="tns:customerToPostponed"/>

<xs:element name="finishWorkWithCustomer" type="tns:finishWorkWithCustomer"/>

<xs:element name="insertCustomer" type="tns:insertCustomer"/>

<xs:element name="inviteCustomer" type="tns:inviteCustomer"/>

<xs:element name="inviteSecondary" type="tns:inviteSecondary"/>

<xs:element name="kickCustomer" type="tns:kickCustomer"/>

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:element name="redirectCustomer" type="tns:redirectCustomer"/>

<xs:element name="removeCustomer" type="tns:removeCustomer"/>

<xs:element name="sendServiceName" type="tns:sendServiceName"/>

<xs:element name="sendUserName" type="tns:sendUserName"/>

<xs:element name="standInService" type="tns:standInService"/>

<xs:element name="startWorkSecondary" type="tns:startWorkSecondary"/>

<xs:element name="startWorkWithCustomer" type="tns:startWorkWithCustomer"/>

<xs:complexType name="startWorkWithCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerToPostponed">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="redirectCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="newServiceId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendServiceName">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="String" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inviteSecondary">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="standInService">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="number" type="xs:int" minOccurs="0"/>
<xs:element name="prefix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inviteCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendUserName">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kickCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="finishWorkWithCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startWorkSecondary">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="backInService">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="newServiceId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="beforeCustId" type="xs:long" minOccurs="0"/>
<xs:element name="afterCustId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>