QSkyPlugin/src/META-INF/wsdl/bigboss_8080/QSkyAPI/customer_events.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.qsky.apertum.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.qsky.apertum.ru/" name="customer_events">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.qsky.apertum.ru/" schemaLocation="http://bigboss:8080/qskyapi/customer_events?xsd=1"/>
</xsd:schema>
</types>
<message name="standInService">
<part name="parameters" element="tns:standInService"/>
</message>
<message name="inviteCustomer">
<part name="parameters" element="tns:inviteCustomer"/>
</message>
<message name="inviteSecondary">
<part name="parameters" element="tns:inviteSecondary"/>
</message>
<message name="startWorkWithCustomer">
<part name="parameters" element="tns:startWorkWithCustomer"/>
</message>
<message name="customerToPostponed">
<part name="parameters" element="tns:customerToPostponed"/>
</message>
<message name="redirectCustomer">
<part name="parameters" element="tns:redirectCustomer"/>
</message>
<message name="finishWorkWithCustomer">
<part name="parameters" element="tns:finishWorkWithCustomer"/>
</message>
<message name="startWorkSecondary">
<part name="parameters" element="tns:startWorkSecondary"/>
</message>
<message name="backInService">
<part name="parameters" element="tns:backInService"/>
</message>
<message name="insertCustomer">
<part name="parameters" element="tns:insertCustomer"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="sendServiceName">
<part name="parameters" element="tns:sendServiceName"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<message name="sendUserName">
<part name="parameters" element="tns:sendUserName"/>
</message>
<message name="kickCustomer">
<part name="parameters" element="tns:kickCustomer"/>
</message>
<portType name="qskyapi/CustomerEventsWS">
<operation name="standInService">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/standInService" message="tns:standInService"/>
</operation>
<operation name="inviteCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/inviteCustomer" message="tns:inviteCustomer"/>
</operation>
<operation name="inviteSecondary">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/inviteSecondary" message="tns:inviteSecondary"/>
</operation>
<operation name="startWorkWithCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/startWorkWithCustomer" message="tns:startWorkWithCustomer"/>
</operation>
<operation name="customerToPostponed">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/customerToPostponed" message="tns:customerToPostponed"/>
</operation>
<operation name="redirectCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/redirectCustomer" message="tns:redirectCustomer"/>
</operation>
<operation name="finishWorkWithCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/finishWorkWithCustomer" message="tns:finishWorkWithCustomer"/>
</operation>
<operation name="startWorkSecondary">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/startWorkSecondary" message="tns:startWorkSecondary"/>
</operation>
<operation name="backInService">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/backInService" message="tns:backInService"/>
</operation>
<operation name="insertCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/insertCustomer" message="tns:insertCustomer"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/removeCustomer" message="tns:removeCustomer"/>
</operation>
<operation name="sendServiceName">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/sendServiceName" message="tns:sendServiceName"/>
</operation>
<operation name="ping">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/pingRequest" message="tns:ping"/>
<output wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/pingResponse" message="tns:pingResponse"/>
</operation>
<operation name="sendUserName">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/sendUserName" message="tns:sendUserName"/>
</operation>
<operation name="kickCustomer">
<input wsam:Action="http://webservices.qsky.apertum.ru/qskyapi/CustomerEventsWS/kickCustomer" message="tns:kickCustomer"/>
</operation>
</portType>
<binding name="qskyBinding" type="tns:qskyapi/CustomerEventsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="standInService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="inviteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="inviteSecondary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="startWorkWithCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="customerToPostponed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="redirectCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="finishWorkWithCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="startWorkSecondary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="backInService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="insertCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="sendServiceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="kickCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="customer_events">
<port name="qsky" binding="tns:qskyBinding">
<soap:address location="http://bigboss:8080/qskyapi/customer_events"/>
</port>
</service>
</definitions>