QSkyPlugin/xml-resources/web-service-references/customer_events/wsdl/localhost_8080/qskyapi/customer_events.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.qsky.apertum.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.qsky.apertum.ru/">

<xs:element name="changeCustomerStatus" type="tns:changeCustomerStatus"/>

<xs:element name="insertCustomer" type="tns:insertCustomer"/>

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:element name="removeCustomer" type="tns:removeCustomer"/>

<xs:element name="sendServiceName" type="tns:sendServiceName"/>

<xs:element name="sendUserName" type="tns:sendUserName"/>

<xs:complexType name="insertCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="beforeCustId" type="xs:long" minOccurs="0"/>
<xs:element name="afterCustId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendUserName">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCustomer">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeCustomerStatus">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="number" type="xs:int" minOccurs="0"/>
<xs:element name="prefix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendServiceName">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>